<div class="contaainer">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User Info</h2>
      
        <% if @user.errors.any? %>
          <p>
            <%= @user.errors.count%> <%= pluralize(user_new.errors.count, "error")%> prohibited this obj from being saved:
          </p>
          <p>
            <% @user.errors.full_messages.each do |message| %>
              <ul>
                <li>
                  <%= message %>
                </li>
              </ul>
            <% end %>
          </p>
        <% end %>

          <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
            <div class="form-grope">
              <%= f.label :name %><br>
              <%= f.text_field :name %><br>
            </div>
            <div class="field">
              <%= f.label :profile_image %><br>
              <%= f.file_field :profile_image, accept: "image/*" %><br>
            </div>
            <div class="field">
              <%= f.label :introduction %><br>
              <%= f.text_field :introduction %>
            </div><br>
            <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">
            <% end %>
    </div>
  </div>
</div>










