<div class="BookDetail">
    <table>
        <thead>
          <tr>
            <th>
              <p>Book detail</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
               <%= image_tag @book.user.get_profile_image(100,100) %>
            </td>
            <td>
              <%= @book.book_name %>
            </td>
            <td>
              <%= @book.opinion %>
            </td>
            <% if @book.user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@book.id) %>
              </td>
              <td>
                <%= link_to "Delete", book_path(@book.id), method: :delete, "deta-comfirm" => "本当に削除しますか？"%>
              </td>
            <% end %>
          </tr>
          <tr>
            <td>
              <%= link_to @book.user.name, user_path(@book.id) %>
            </td>
          </tr>
        </tbody>
    </table>
</div>